.Details {
  .rowWrapper {
    padding: 10px 16px;

    .costType {
      display: flex;
      align-items: center;
      .costIcon {
        width: 32px;
        height: 32px;
        display: inline-block;
        background-color: #f6f6f6;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        font-size: 22px;
        color: #3296fa;
      }

      .costName {
        margin-left: 10px;
      }

    }

    .amount {
      line-height: 32px;
    }
  }
}